<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSCON | Conference </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">s -->
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
	<link rel="stylesheet" href="/css/style.css">
	<style>
			body{
			  font-family: 'Montserrat', sans-serif;
			}
	</style>
  </head>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html"><img class="rounded-circle logo" src="images/nacoss_logo.jpg"alt=""/></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="#home" class="nav-link text-white">HOME</a></li>
	          <li class="nav-item"><a href="#about" class="nav-link text-white">ABOUT</a></li>
	          <li class="nav-item"><a href="#speakers" class="nav-link text-white">SPEAKERS</a></li>
	          <li class="nav-item"><a href="#gallery" class="nav-link text-white">GALLERY</a></li>
	          <li class="nav-item"><a href="#blog" class="nav-link text-white">BLOG</a></li>
	          <li class="nav-item"><a href="#contact" class="nav-link text-white">CONTACT</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <div class="hero-wrap" style="background-image: url('images/cscon.jpg');" data-stellar-background-ratio="0.5" id="home">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-lg-5 col-md-6 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <!-- <h1 class="mt-1 mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"> The Largest Tech<br><span>Conference 2019</span></h1>
			<h3 class="position" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b><span class="text-primary">THEME:</span> INVENTING THE FUTURE</b></h3>			
			<p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="icon-calendar mr-2"></span>14th November, 2019 - Obafemi Awolowo University, Ile-Ife.</p> -->
            <div id="timer" class="d-flex pt-3">
						  <div class="time" id="days"></div>
						  <div class="time pl-3" id="hours"></div>
						  <div class="time pl-3" id="minutes"></div>
						  <div class="time pl-3" id="seconds"></div>
						</div>
          </div>
          <div class="col-lg-2 col"></div>
          <div class="col-lg-4 col-md-6 mt-0 mt-md-5">
          	<!-- <form action="#" class="request-form ftco-animate">
          		<h2>Join Conference</h2>
	    				<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Enter your Name">
	    				</div>
	    				<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Enter your Email">
	    				</div>
    					<div class="form-group">
	    					<input type="text" class="form-control" placeholder="Enter your Phone">
	    				</div>
	    				<div class="form-group">
								<div class="checkbox">
								   <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
								</div>
							</div>
	            <div class="form-group">
	              <input type="submit" value="Join now" class="btn btn-primary py-3 px-4">
	            </div>
	    			</form> -->
          </div>
        </div>
      </div>
    </div>

	<section class="mt-5 ftco-counter img" id="section-counter">
		<div class="container" id="about">
			<div class="row">
		  <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
			<div class="block-18 text-center py-4 naco mb-4">
			  <div class="text">
				  <div class="icon d-flex justify-content-center align-items-center">
					  <span class="flaticon-guest"></span>
				  </div>
				<strong class="number" data-number="10">0</strong>
				<span>SPEAKERS</span>
			  </div>
			</div>
		  </div>
		  <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
			<div class="block-18 text-center py-4 naco mb-4">
			  <div class="text">
				  <div class="icon d-flex justify-content-center align-items-center">
					  <span class="flaticon-handshake"></span>
				  </div>
				<strong class="number" data-number="200">0</strong>
				<span>SPONSORS</span>
			  </div>
			</div>
		  </div>
		  <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
			<div class="block-18 text-center py-4 naco mb-4">
			  <div class="text">
				  <div class="icon d-flex justify-content-center align-items-center">
					  <span class="flaticon-chair"></span>
				  </div>
				<strong class="number" data-number="2000">0</strong>
				<span>DELEGATES</span>
			  </div>
			</div>
		  </div>
		  <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
			<div class="block-18 text-center py-4 naco mb-4">
			  <div class="text">
				  <div class="icon d-flex justify-content-center align-items-center">
					  <span class="flaticon-idea"></span>
				  </div>
				<strong class="number" data-number="5">0</strong>
				<span>UNIVERSITIES</span>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	</section>
   	
		<section class="ftco-section ftco-no-pt ftco-no-pb mt-4">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/downloaded_6.jpg);">
					</div>
					<div class="col-md-7 wrap-about py-md-5 ftco-animate">
	          <div class="heading-section mb-5 pt-5 pl-md-5">
	          	<div class="pr-md-5 mr-md-5">
		            <h2 class="mb-3">WHAT IS ALL ABOUT US?</h2>
	            </div>
				<p>
					The Computer Students Conference represents a ground-breaking voyage in student activities 
					which promises to offer unparalleled, viable and sustainable solutions to contemporary 
					developmental issues confronting developing countries in the area of Information Technology. 
					Furthermore, the Computer Students Conference represents the first students conference of its 
					kind in Nigeria and is a giant leap in arousing the consciousness, refining the thoughts and shaping 
					the minds of youths who are already taking over the ‘Tech sphere’.  
					Participation in the conference is wide and varied. Principally, it is a meeting point of Computer 
					Science, Computer Engineering and related fields students from different tertiary institutions 
					across Nigeria, offering different perspectives and inclinations into the roles Information 
					technology plays in our society today. The participants and delegates at CSCON is not limited to 
					Computer Science and Computer Engineering and related courses students, but opened to 
					participation from students of other disciplines. 
				</p>
	          </div>
					</div>
				</div>
			</div>
		</section>

		

		<!-- <section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-3">Conference Schedule</h2>
          </div>
        </div>
        <div class="ftco-schedule">
					<div class="row">
            <div class="col-md-3 nav-link-wrap text-center text-md-right">
	            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	              <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">First Day <span>21 July 2019</span></a>

	              <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Second Day <span>22 July 2019</span></a>

	              <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Third Day <span>23 July 2019</span></a>

	            </div>
	          </div>
	          <div class="col-md-9 tab-wrap">
	            
	            <div class="tab-content" id="v-pills-tabContent">

	              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-1.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-2.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-3.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-4.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-1.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-2.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-3.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-4.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-md-flex">
	              		<div class="img speaker-img" style="background-image: url(images/staff-1.jpg);"></div>
	              		<div class="text">
	              			<h2><a href="#">Introduction to Business Leaders</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<span class="time">09:00 am - 4:30 pm</span>
	              			<p class="location"><span class="icon-map-o mr-2"></span>20 July 2019 - Hall, Building Los Angeles CA</p>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Ryan Thompson</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              </div>
	            </div>
	          </div>
	        </div>
        </div>
			</div>
		</section> -->
		<!-- <section class="ftco-section ftco-no-pt ftco-no-pb mt-5" id="speakers">
			<div class="container">
				<div class="row justify-content-center mb-5">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<h2 class="mb-1">CONFERENCE SPEAKERS</h2>
					</div>
				</div>
			<div class="row">
				<div class="col-12 col-md-6 d-flex mb-4">
					<div class="speaker ftco-animate d-flex ">
						<div class="img leader" style="background-image: url(images/speaker_2.jpg);position: relative;">
							<div class="text text-center go-bottom">
								<h3 class="text-white font-weight-lighter">Ogbaje Steven A.</h3>
								<span class="position"><b>CEO</b></span>
								<ul class="ftco-social">
									<li><a href="#"><span class="icon-twitter"></span></a></li>
									<li><a href="#"><span class="icon-facebook"></span></a></li>
									<li><a href="#"><span class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="speaker ftco-animate speaker-1 d-flex align-items-center mb-5">
						<div class="img" style="background-image: url(images/speaker_3.jpg);width: 220px;height:280"></div>
						<div class="text pl-4">
							<h3>Ogbaje Steven A.</h3>
							<span class="position">NACOSS President</span>
							<ul class="ftco-social">
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-instagram"></span></a></li>
					  </ul>
						</div>
					</div>
					<div class="speaker ftco-animate speaker-1 d-flex align-items-center mb-5">
						<div class="img" style="background-image: url(images/speaker_1.jpg); width: 220px;height:280"></div>
						<div class="text pl-4">
							<h3>Ifeoluwa Adeboye</h3>
							<span class="position">NACOSS General Secretary</span>
							<ul class="ftco-social">
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-instagram"></span></a></li>
					  </ul>
						</div>
					</div>
					<div class="speaker ftco-animate speaker-1 d-flex align-items-center mb-5">
						<div class="img" style="background-image: url(images/speaker_2.jpg); width: 220px;height:280"></div>
						<div class="text pl-4">
							<h3>Dr. AINA Segun</h3>
							<span class="position">Staff Adviser</span>
							<ul class="ftco-social">
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-instagram"></span></a></li>
					  </ul>
						</div>
					</div>
					<div class="speaker ftco-animate speaker-1 d-flex align-items-center mb-5">
						<div class="img" style="background-image: url(images/staff-2.jpg); width: 220px;height:280"></div>
						<div class="text pl-4">
							<h3> Dr. OLUWARANTI Adeniran</h3>
							<span class="position">Staff Adviser</span>
							<ul class="ftco-social">
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-instagram"></span></a></li>
					  </ul>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section> -->

		<section>
			
			<div class="fantastic-team" id="speakers">
				<div class="fantastic-team-1">
						<div class="row justify-content-center mt-5 mb-4">
								<div class="col-md-7 text-center heading-section ftco-animate">
									<h2 class="mb-1">SPEAKERS</h2>
								</div>
							</div>
				</div>
				<div class="d-flex justify-content-around flex-wrap fantastic-team-2"> 
						<div class="p-2 flip-container mb-5">
								<div class="flipper">
									<div class="front">
										<img src="images/sani-francis.jpg">
						<!-- <a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);"> -->

											<h4><strong>Sani Francis</strong></h4>
											<div class="naco-add"></div>
											<span class="position naco-text">Manager and Business Developer at CCHub</span>
												<hr class="my-2 mx-3 p-0">
												<p class="mt-2">
													<span class="read-more text-right">know more >></span>
													</p>
									</div>
									<div class="back">
											<h4>Sani Francis</h4>
											<div class="naco-add-light"></div>
											<p class="naco-notes mb-3">works with entrepreneurs and innovators across Africa using technology to create
												solutions for the society in the last 5 years. He has worked with over 100 entrepreneurs
												 and innovators to grow their ventures with focus on creating sustainable ventures.
												</p>
							
												<p class="naco-notes">
													His mentality is in helping early and growth stage startups build products
													that solve real problems, implement sustainable business models, build effective
													operational systems and continuously create value for their customers.
												</p>
										<div>
											<div class="d-flex m-auto">
												<div class="p-2"><a href="#"><span class="icon-twitter text-white"></span></a></div>
												<div class="p-2"><a href="#"><span class="icon-facebook text-white"></span></a></div>
												<div class="p-2"><a href="#"><span class="icon-instagram text-white"></span></a></div>
											</div>	
										</div>
									</div>
								</div>
							</div>
							<div class="p-2 flip-container mb-5">
									<div class="flipper">
										<div class="front">
											<img src="images/kelvin.jpg">
							<!-- <a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);"> -->
	
												<h4><strong>Kelvin Umechukwu</strong></h4>
												<div class="naco-add"></div>
												<span class="position naco-text">Program Manager at <br>TechQuest</span>
													<hr class="my-2 mx-3 p-0">
													<p class="mt-2">
														<span class="read-more text-right">know more >></span>
														</p>
										</div>
										<div class="back">
												<h4>Kelvin Umechukwu</h4>
												<div class="naco-add-light"></div>
												<p class="naco-notes mb-3">He is the Program Manager and Head of Business Development at TechQuest
													STEM Academy. He champions the planning, organization and execution of TechQuest Programs which have impacted
													over 11,000 young people. across 12 states in Nigeria.
													</p>
								
													<p class="naco-notes">
														He holds a B.Sc degree in Mechanical Engineering from Obafemi Awolowo University, where he majored
														in Robotics and Automation. He has over 3 years of experience as a tech community leader and startup founder
													</p>
											<div>
												<div class="d-flex m-auto">
													<div class="p-2"><a href="#"><span class="icon-twitter text-white"></span></a></div>
													<div class="p-2"><a href="#"><span class="icon-facebook text-white"></span></a></div>
													<div class="p-2"><a href="#"><span class="icon-instagram text-white"></span></a></div>
												</div>	
											</div>
										</div>
									</div>
								</div>
					
								<div class="p-2 flip-container mb-5">
										<div class="flipper">
											<div class="front">
												<img src="images/femi.jpg">
								<!-- <a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);"> -->
		
													<h4><strong>Femi</strong></h4>
													<div class="naco-add"></div>
													<span class="position naco-text">CEO at <br> 3line Card Management</span>
														<hr class="my-2 mx-3 p-0">
														<p class="mt-2">
															<span class="read-more text-right">know more >></span>
															</p>
											</div>
											<div class="back">
													<h4>Femi</h4>
													<div class="naco-add-light"></div>
													<p class="naco-notes mb-3">For over 13 years, he has played a major role developing 
														products strategies that deepen and broaden businesses within all payment verticals
														</p>
									
														<p class="naco-notes">
															He earned a B.Sc degree in Economics from University of Ibadan and a M.Sc in International
															Business and Information Technology from University of Dundee, Scotland.
															He holds various certifications including, ISEB Business Analysis Professional from the British
															Computing Society, Prince 2 Project Management Certification and Miller Heiman Business Development Certification
														</p>
												<div>
													<div class="d-flex m-auto">
														<div class="p-2"><a href="#"><span class="icon-twitter text-white"></span></a></div>
														<div class="p-2"><a href="#"><span class="icon-facebook text-white"></span></a></div>
														<div class="p-2"><a href="#"><span class="icon-instagram text-white"></span></a></div>
													</div>	
												</div>
											</div>
										</div>
									</div>
									<div class="p-2 flip-container mb-5">
											<div class="flipper">
												<div class="front">
													<img src="images/igba-joshua.jpeg">
									<!-- <a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);"> -->
			
														<h4><strong>Joshua Igba </strong></h4>
														<div class="naco-add"></div>
														<span class="position naco-text">Ambassador at<br /> Whogohost</span>
															<hr class="my-2 mx-3 p-0">
															<p class="mt-2">
																<span class="read-more text-right">know more >></span>
																</p>
												</div>
												<div class="back">
														<h4>Joshua Igba</h4>
														<div class="naco-add-light"></div>
														<p class="naco-notes mb-3">Popularly known as Neonatar, has been a tech innovator, product developer and growth hacker. 
															He is a sales and programs management executive at Nigeria's biggest web hosting company, whogohost.com. 

															</p>
										
															<p class="naco-notes">
																	He is a graduate of Chemical Engineering from Obafemi Awolowo University, 
																	from where he started his enterpreneurship journey in 100Level. He is the innovator behind 
																	the Neonatar Digital Boards- beautifully designed Digital Out of HomeDisplays with wifi, 
																	designed to suit circular communities and recreational centres. 

															</p>
													<div>
														<div class="d-flex m-auto">
															<div class="p-2"><a href="#"><span class="icon-twitter text-white"></span></a></div>
															<div class="p-2"><a href="#"><span class="icon-facebook text-white"></span></a></div>
															<div class="p-2"><a href="#"><span class="icon-instagram text-white"></span></a></div>
														</div>	
													</div>
												</div>
											</div>
										</div>
										<div class="p-2 flip-container mb-5">
												<div class="flipper">
													<div class="front">
														<img src="images/ayomide-bakare.jpg">
										<!-- <a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);"> -->
				
															<h4><strong>Ayomide Bakare</strong></h4>
															<div class="naco-add"></div>
															<span class="position naco-text">Cofounder InventTech <br /> and CTO E-tracks</span>
																<hr class="my-2 mx-3 p-0">
																<p class="mt-2">
																	<span class="read-more text-right">know more >></span>
																	</p>
													</div>
													<div class="back">
															<h4>Ayomide Bakare</h4>
															<div class="naco-add-light"></div>
															<p class="naco-notes mb-3">Experienced Robotics Educator with a demonstrated 
																history of working in the higher education industry.
																</p>
											
																<p class="naco-notes">
																		Skilled in Teamwork, Programming, Software Development 
																		(major in Frontend Development), and Project Management. 
																		Strong engineering professional with a Bachelor of Engineering (B.Eng.) 
																		focused in Electrical and Electronics Engineering from Obafemi Awolowo University.
																</p>
														<div>
															<div class="d-flex m-auto">
																<div class="p-2"><a href="#"><span class="icon-twitter text-white"></span></a></div>
																<div class="p-2"><a href="#"><span class="icon-facebook text-white"></span></a></div>
																<div class="p-2"><a href="#"><span class="icon-instagram text-white"></span></a></div>
															</div>	
														</div>
													</div>
												</div>
											</div>
											<div class="p-2 flip-container mb-5">
													<div class="flipper">
														<div class="front">
															<img src="images/gideon-ogbonna.jpg">
											<!-- <a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);"> -->
					
																<h4><strong>Gideon Ogbonna</strong></h4>
																<div class="naco-add"></div>
																<span class="position naco-text">Google Developer at <br /> Benin Republic</span>
																	<hr class="my-2 mx-3 p-0">
																	<p class="mt-2">
																		<span class="read-more text-right">know more >></span>
																		</p>
														</div>
														<div class="back">
																<h4>Gideon Ogbonna</h4>
																<div class="naco-add-light"></div>
																<p class="naco-notes mb-3">Experienced Android Development Specialist with a demonstrated 
																	history of working in the internet industry. 
																	Skilled in Microsoft Office, An Artist thats also good in Public Speaking.
																	</p>
												
																	<p class="naco-notes">
																			Strong community and social services professional with a 
																			Bachelor of Technology - BTech focused in Biology/Biological Sciences, 
																			from Federal University of Technology Owerri. Currently Works with Google at Benin Republic.
																	</p>
															<div>
																<div class="d-flex m-auto">
																	<div class="p-2"><a href="#"><span class="icon-twitter text-white"></span></a></div>
																	<div class="p-2"><a href="#"><span class="icon-facebook text-white"></span></a></div>
																	<div class="p-2"><a href="#"><span class="icon-instagram text-white"></span></a></div>
																</div>	
															</div>
														</div>
													</div>
												</div>
												<div class="p-2 flip-container mb-5">
														<div class="flipper">
															<div class="front">
																<img src="images/temitayo-afeye.jpg">
												<!-- <a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);"> -->
						
																	<h4><strong>Temitayo Afeye</strong></h4>
																	<div class="naco-add"></div>
																	<span class="position naco-text">CEO at <br /> Metalloid</span>
																		<hr class="my-2 mx-3 p-0">
																		<p class="mt-2">
																			<span class="read-more text-right">know more >></span>
																			</p>
															</div>
															<div class="back">
																	<h4>Temitayo Afeye</h4>
																	<div class="naco-add-light"></div>
																	<p class="naco-notes mb-3">works with entrepreneurs and innovators across Africa using technology to create
																		solutions for the society in the last 5 years. He has worked with over 100 entrepreneurs
																		 and innovators to grow their ventures with focus on creating sustainable ventures.
																		</p>
													
																		<p class="naco-notes">
																			His mentality is in helping early and growth stage startups build products
																			that solve real problems, implement sustainable business models, build effective
																			operational systems and continuously create value for their customers.
																		</p>
																<div>
																	<div class="d-flex m-auto">
																		<div class="p-2"><a href="#"><span class="icon-twitter text-white"></span></a></div>
																		<div class="p-2"><a href="#"><span class="icon-facebook text-white"></span></a></div>
																		<div class="p-2"><a href="#"><span class="icon-instagram text-white"></span></a></div>
																	</div>	
																</div>
															</div>
														</div>
													</div>
													<div class="p-2 flip-container mb-5">
															<div class="flipper">
																<div class="front">
																	<img src="images/mc.jpg">
													<!-- <a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);"> -->
							
																		<h4><strong>Ibu the Magician</strong></h4>
																		<div class="naco-add"></div>
																		<span class="position naco-text">MC <br /> Special Appearance</span>
																			<hr class="my-2 mx-3 p-0">
																			<p class="mt-2">
																				<span class="read-more text-right">know more >></span>
																				</p>
																</div>
																<div class="back">
																		<h4>Sani Francis</h4>
																		<div class="naco-add-light"></div>
																		<p class="naco-notes mb-3">works with entrepreneurs and innovators across Africa using technology to create
																			solutions for the society in the last 5 years. He has worked with over 100 entrepreneurs
																			 and innovators to grow their ventures with focus on creating sustainable ventures.
																			</p>
														
																			<p class="naco-notes">
																				His mentality is in helping early and growth stage startups build products
																				that solve real problems, implement sustainable business models, build effective
																				operational systems and continuously create value for their customers.
																			</p>
																	<div>
																		<div class="d-flex m-auto">
																			<div class="p-2"><a href="#"><span class="icon-twitter text-white"></span></a></div>
																			<div class="p-2"><a href="#"><span class="icon-facebook text-white"></span></a></div>
																			<div class="p-2"><a href="#"><span class="icon-instagram text-white"></span></a></div>
																		</div>	
																	</div>
																</div>
															</div>
														</div>
			</div>
			</div>
		</section>
		<section class="ftco-section ftco-gallery ftco-no-pt mt-5" id="gallery">
    	<div class="container-fluid px-4">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-1">CONFERENCE GALLERY</h2>
          </div>
        </div>
    		<div class="row">
					<div class="col-md-3 ftco-animate">
						<a href="images/DSC_01.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_01.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/DSC_02.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_02.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/DSC_05.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_05.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/DSC_06.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/DSC_06.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
				</div>
				</div>
			</section>

    <section class="ftco-section testimony-section ftco-no-pt">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-3">COMMENTS FROM PEOPLE</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">System Analyst</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section" id="blog">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Recent Blog</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/DSC_05.jpg');">
              </a>
              <div class="text pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">July. 14, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/DSC_02.jpg');">
              </a>
              <div class="text pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">July. 14, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/DSC_04.jpg');">
              </a>
              <div class="text pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">July. 14, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section-parallax ftco-section ftco-no-pt">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-7 text-center heading-section ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section" id="contact">
      <div class="container">
        <div class="row	">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About CSCON Conference</h2>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Useful Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Speakers</a></li>
                <li><a href="#" class="py-2 d-block">Schedule</a></li>
                <li><a href="#" class="py-2 d-block">Events</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Privacy</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Career</a></li>
                <li><a href="#" class="py-2 d-block">About Us</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                <li><a href="#" class="py-2 d-block">Services</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Department of Computer Science and Engineering, Obafemi Awolowo University, Ile-Ife</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+234 810 836 9089</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">oaunacoss.ife@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>
    
  </body>
</html>